---
---
{% include header.html %}
   <div id="page">
	<div class="header header-fixed header-logo-app">
        <a href="#" class="header-title">Quy trình kiểm tra bán thành phẩm</a>
		<a href="#" class="header-icon header-icon-1" data-back-button><i class="fa fa-arrow-left"></i></a>
        <a href="#" class="header-icon header-icon-2" data-menu="menu-2"><i class="fas fa-cog"></i></a>
        <a href="#" class="header-icon header-icon-3" data-toggle-theme><i class="fas fa-moon"></i></a>
        
	</div>
    
	<div class="page-content header-clear-medium">	

        <div data-height="220" class="caption caption-margins round-medium shadow-large">
            <div class="caption-center">
                <h1 class="center-text color-white bolder font-26">Quy trình kiểm tra bán thành phẩm</h1>
                <p class="boxed-text-large color-white opacity-80">
                   
                </p>
                <a href="index.html" class="button button-round-huge button-center-small button-xxs bg-highlight">Trang chủ</a>
            </div>
            <div class="caption-overlay bg-black opacity-80"></div>
            <div class="caption-bg bg-28"></div>
        </div>
        
        <div class="content">           
            
            <div class="link-list link-list-1 link-list-long-border">
                <div class="divider bottom-0"></div>
				
                
				<a href="cb-luudo-btp.html"><i class="fa fa-check color-green1-dark"></i><span>Lưu đồ kiểm tra Bán thành phẩm</span><i class="fa fa-angle-right"></i></a>
				<a href="cb-ppkiemtra-btp.html"><i class="fa fa-check color-green1-dark"></i><span>Phương pháp kiểm tra</span><i class="fa fa-angle-right"></i></a>
				
				
				

                
            </div>
        </div>

        
        
{% include footer.html %}