---
---
{% include header.html %}
    <div id="page">
	<div class="header header-fixed header-logo-app">
        <a href="index.html" class="header-title ultrabold"><span class="color-highlight">Q</span>CS</a>
		<a href="#" class="header-icon header-icon-1" data-menu="menu-1"><i class="fas fa-bars"></i></a>
        <a href="#" class="header-icon header-icon-2" data-menu="menu-2"><i class="fas fa-cog"></i></a>
        <a href="#" class="header-icon header-icon-3" data-toggle-theme><i class="fas fa-moon"></i></a>
	</div>
        
    <div id="menu-1" class="menu menu-box-left" 
         data-menu-width="250"
         data-menu-load="menu.html"
         data-menu-effect="menu-over"
         data-menu-select="page-menus">
    </div>                 
    <div class="bg-highlight" id="reading-progress-bar"></div>
    
	<div class="page-content header-clear-medium">	

        <div data-height="220" class="caption caption-margins round-medium shadow-large">
            <div class="caption-center">
                <h1 class="center-text color-white bolder font-26">DCS</h1>
                <p class="boxed-text-large color-white opacity-80">
                    Tiêu chuẩn kiểm tra chất lượng DECATHLON.
                </p>
                <a href="index.html" class="button button-round-huge button-center-small button-xxs bg-highlight">Trang chủ</a>
            </div>
            <div class="caption-overlay bg-black opacity-80"></div>
            <div class="caption-bg bg-28"></div>
        </div>
        <div class="content bottom-0">
            
            <div class="divider bottom-0"></div>
        </div>
        <div class="content">           
            
            <div class="link-list link-list-1 link-list-long-border">
                <div class="divider bottom-0"></div>
				
                <a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra dây luồn hàng trẻ em ( 6-14 tuổi) </span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra móc cài </span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra chức năng khóa kéo</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra nhám</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Phụ liệu gây thương tích</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Kiểm tra chức năng sưởi ấm</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra nhãn mác (in,thêu,cộp nhiệt...)</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra con bọ</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra đường may khóa kéo</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra đường may và sự chắc chắn của đường may</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Phép thử nhỏ dọt trên sản phẩm hoàn thiện</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra sự co dãn của đường may</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra sự đồng đều của đường may</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra cúc dập</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra các bộ phận treo</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra ép mex</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra chất lượng đường may ép keo</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra tính đối xứng của sản phẩm</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Kiêu chuẩn kiểm tra mác cỡ và trên thẻ bài</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra RFID và các loại mác khác</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra mác riêng với thị trường trung quốc</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra nhãn mác</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra cúc đính và thùa khuyết</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra mác MRP ấn độ</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra ngoại quan trung</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra các đường may co dãn</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kiểm tra và đánh giá ngoại quan SEAM</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn test dò nước và đánh giá</span><i class="fa fa-angle-right"></i></a>
                <a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn TAPING các khu vực khác</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn kỹ thuật đường TAPE</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Kích thước bản ve (FACING ) hàng chống nước</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn dây chằng cho quần áo có lớp lót</span><i class="fa fa-angle-right"></i></a>
				<a href="component-ad-boxes.html"><i class="fa fa-spinner color-teal-dark"></i><span>Tiêu chuẩn đường trần bông</span><i class="fa fa-angle-right"></i></a>
				

                
            </div>
        </div>

        
        
{% include footer.html %}