---
---
{% include header.html %}
<div id="page">
	<div class="header header-fixed header-logo-app">
        <a href="#" class="header-title ultrabold"><span class="color-highlight">Q</span>  CS</a>
		<a href="#" class="header-icon header-icon-1" data-menu="menu-1"><i class="fas fa-bars"></i></a>
        <a href="#" class="header-icon header-icon-2" data-menu="menu-2"><i class="fas fa-cog"></i></a>
        <a href="#" class="header-icon header-icon-3" data-toggle-theme><i class="fas fa-moon"></i></a>
	</div>
        
    <div id="menu-1" class="menu menu-box-left" 
         data-menu-width="250"
         data-menu-load="menu.html"
         data-menu-effect="menu-over"
         data-menu-select="page-home">
    </div>                
    
	<div class="page-content header-clear-medium">
       <div class="content">
            <div class="link-list link-list-3">
                <a href="#" class="round-small shadow-tiny">
                   <i class="fa fa-star color-yellow1-dark"></i>
                    <span>Hướng dẫn sử dụng</span>
                    <em class="bg-blue2-dark">Xem thêm</em>
                    
                    
                </a>
            </div>        
                       
                       
               
            
        </div>
            
                        
        <div class="content">
            
            <div class="list-columns-left">
                <div>
                    <i class="fab fa-cloudscale color-red1-dark fa-3x"></i>
                    <h1 class="bolder">Nhanh chóng</h1>
                    <p>
                        Cập nhật nhanh chóng các thay đổi liên quan tới công việc.
                    </p>
                </div>
                <div>
                    <i class="fa fa-check color-green1-light fa-2x"></i>
                    <h1 class="bolder">Chính xác</h1>
                    <p>
                        Luôn đảm bảo kiến thức chính xác và cập nhật.
                    </p>
                </div>   
                <div>
                    <i class="far fa-life-ring color-blue2-dark fa-3x"></i>
                    <h1 class="bolder">Trợ giúp</h1>
                    <p>
                        Liên tục support hỗ trợ các bạn những câu hỏi liên quan tới công việc .
                    </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
		
            
        <div class="divider bottom-0"></div>
        <link rel="stylesheet" type="text/css" href="styles/store.css">
        
		<div class="divider divider-margins"></div>
		<div class="store-slide-2">
			<a href="#" class="store-slide-image">
				<img class="preload-image" src="images/empty.png" data-src="images/placeholders/3.png" alt="img">
			</a>
			<div class="store-slide-title">
				<a href="kien-thuc-co-ban.html"><strong>Kiến thức cơ bản</strong></a>
				<em class="color-gray2-dark">Basic Knowledge</em>
			</div>
			<div class="store-slide-button">
				<strong><del class="color-blue2-light font-10">Tổng hợp kiến thức cơ bản</del></strong>
				
			</div>
		</div>
		<div class="divider bottom-0"></div>
		<div class="store-slide-2">
			<a href="#" class="store-slide-image">
				<img class="preload-image" src="images/empty.png" data-src="images/placeholders/1.png" alt="img">
			</a>
			<div class="store-slide-title">
				<a href="dcs.html"><strong>DCS</strong></a>
				<em class="color-gray2-dark">Decathlon Control Standard</em>
			</div>
			<div class="store-slide-button">
				<strong><del class="color-green2-light font-10">Tiêu chuẩn kiểm tra chất lượng DeCathLon</del></strong>
				
			</div>
		</div>	
		<div class="divider bottom-0"></div>
		<div class="store-slide-2">
			<a href="#" class="store-slide-image">
				<img class="preload-image" src="images/empty.png" data-src="images/placeholders/5.png" alt="img">
			</a>
			<div class="store-slide-title">
				<a href="dpr.html"><strong>DPR</strong></a>
				<em class="color-gray2-dark">Decathlon Production Requirements</em>
			</div>
			<div class="store-slide-button">
				<strong><del class="color-green2-light font-10">Yêu cầu trong sản xuất của Decathlon </del></strong>
				
			</div>
		</div>
		
		
        

        

       
        <div class="divider divider-margins"></div>
        

{% include footer.html %}
