---
---
{% include header.html %}
    <div id="page">
	<div class="header header-fixed header-logo-app">
        <a href="index.html" class="header-title ultrabold"><span class="color-highlight">Q</span>CS</a>
		<a href="#" class="header-icon header-icon-1" data-menu="menu-1"><i class="fas fa-bars"></i></a>
        <a href="#" class="header-icon header-icon-2" data-menu="menu-2"><i class="fas fa-cog"></i></a>
        <a href="#" class="header-icon header-icon-3" data-toggle-theme><i class="fas fa-moon"></i></a>
	</div>
        
    <div id="menu-1" class="menu menu-box-left" 
         data-menu-width="250"
         data-menu-load="menu.html"
         data-menu-effect="menu-over"
         data-menu-select="page-components">
    </div>                
    <div class="bg-highlight" id="reading-progress-bar"></div>
    
	<div class="page-content header-clear-medium">	

        <div data-height="220" class="caption caption-margins round-medium shadow-large">
            <div class="caption-center">
                <h1 class="center-text color-white bolder font-26">Kiến thức cơ bản</h1>
                <p class="boxed-text-large color-white opacity-80">
                    Tổng hợp kiến thức cơ bản trong quá trình làm việc.
                </p>
                <a href="index.html" class="button button-round-huge button-center-small button-xxs bg-highlight">Trang chủ</a>
            </div>
            <div class="caption-overlay bg-black opacity-80"></div>
            <div class="caption-bg bg-28"></div>
        </div>
        <div class="content bottom-0">
            <p>
               <b>Mục Tiêu</b>:<br/>
      • Hướng dẫn phương pháp kiểm tra chất lượng công đoạn và phân loại chất lượng công đoạn đạt chất lượng trong quá trình sản xuất.<br/>
      • Nhằm hạn chế tối đa những lỗi trong các công đoạn , phát hiện ra những điểm chưa hợp lý trong sản xuất để cung cấp thông tin phản hồi tới các bộ phận, phòng ban liên quan để có phương án xử lý kịp thời, tránh được những sai hỏng hàng loạt phát sinh.

            </p>

            <div class="divider bottom-0"></div>
        </div>
        <div class="content">           
            
            <div class="link-list link-list-1 link-list-long-border">
                <div class="divider bottom-0"></div>
				
                <a href="loi-noi-dau.html"><i class="fa fa-check color-green1-dark"></i><span>Lời nói đầu </span><i class="fa fa-angle-right"></i></a>
				<a href="cb-trentruyen.html"><i class="fa fa-check color-green1-dark"></i><span>Quy trình kiểm hàng trên truyền</span><i class="fa fa-angle-right"></i></a>
				<a href="cb-banthanhpham.html"><i class="fa fa-check color-green1-dark"></i><span>Quy trình kiểm tra bán thành phẩm</span><i class="fa fa-angle-right"></i></a>
				<a href="cb-kiemtraintheu.html"><i class="fa fa-check color-green1-dark"></i><span>Quy trình kiểm in , thêu</span><i class="fa fa-angle-right"></i></a>
				<a href="co-ban/quy-trinh/.html"><i class="fa fa-spinner color-teal-dark"></i><span>Quy trình kiểm tra phụ liệu</span><i class="fa fa-angle-right"></i></a>
				<a href="co-ban/quy-trinh/.html"><i class="fa fa-spinner color-teal-dark"></i><span>Quy trình kiểm tra nguyên liệu</span><i class="fa fa-angle-right"></i></a>
				<a href="co-ban/quy-trinh/.html"><i class="fa fa-spinner color-teal-dark"></i><span>Quy trình kiểm tra chất lượng hàng ép seam</span><i class="fa fa-angle-right"></i></a>
				<a href="co-ban/quy-trinh/.html"><i class="fa fa-spinner color-teal-dark"></i><span>Quy trình kiểm tra hàng cúc dập</span><i class="fa fa-angle-right"></i></a>
				<a href="co-ban/quy-trinh/.html"><i class="fa fa-spinner color-teal-dark"></i><span>Quy trình quản lý cộp nhiệt</span><i class="fa fa-angle-right"></i></a>
				<a href="co-ban/quy-trinh/.html"><i class="fa fa-spinner color-teal-dark"></i><span>Quy trình thay thân đổi bán</span><i class="fa fa-angle-right"></i></a>
				<a href="co-ban/quy-trinh/.html"><i class="fa fa-spinner color-teal-dark"></i><span>Quy trình kiểm Final</span><i class="fa fa-angle-right"></i></a>
				

                
            </div>
        </div>

        
        
{% include footer.html %}