<div class="footer">
            <a href="#" class="footer-title"><span class="color-highlight">TEAM</span> Chất Lượng</a>
            <p class="footer-text"></p>
            
            <p class="footer-copyright">Copyright &copy; TNG PB1 <span id="copyright-year">2018-2020</span>. All Rights Reserved.</p>
        </div>            
    </div>
    
    
    
    <div id="menu-2" class="menu menu-box-right" 
         data-menu-width="75"
         data-menu-effect="menu-over">
                    
        <div class="highlight-changer">
            <a href="#" data-change-highlight="red1"><i class="fa fa-circle color-red1-dark"></i><span class="color-red2-light">Red</span></a>    
            <a href="#" data-change-highlight="orange"><i class="fa fa-circle color-orange-dark"></i><span class="color-orange-light">Orange</span></a>    
            <a href="#" data-change-highlight="pink2"><i class="fa fa-circle color-pink2-dark"></i><span class="color-pink2-light">Pink</span></a>    
            <a href="#" data-change-highlight="magenta2"><i class="fa fa-circle color-magenta2-dark"></i><span class="color-magenta2-light">Purple</span></a>    
            <a href="#" data-change-highlight="blue2"><i class="fa fa-circle color-blue2-dark"></i><span class="color-blue2-light">Blue</span></a>
            <a href="#" data-change-highlight="aqua"><i class="fa fa-circle color-aqua-dark"></i><span class="color-aqua-light">Aqua</span></a>      
            <a href="#" data-change-highlight="teal"><i class="fa fa-circle color-teal-dark"></i><span class="color-teal-light">Teal</span></a>      
            <a href="#" data-change-highlight="mint"><i class="fa fa-circle color-mint-dark"></i><span class="color-mint-light">Mint</span></a>      
            <a href="#" data-change-highlight="green2"><i class="fa fa-circle color-green2-dark"></i><span class="color-green2-light">Green</span></a>    
            <a href="#" data-change-highlight="green1"><i class="fa fa-circle color-green1-dark"></i><span class="color-green1-light">Grass</span></a>       
            <a href="#" data-change-highlight="yellow2"><i class="fa fa-circle color-yellow2-dark"></i><span class="color-yellow2-light">Sunny</span></a>    
            <a href="#" data-change-highlight="yellow1"><i class="fa fa-circle color-yellow1-dark"></i><span class="color-yellow1-light">Goldish</span></a>
            <a href="#" data-change-highlight="brown1"><i class="fa fa-circle color-brown1-dark"></i><span class="color-brown1-light">Wood</span></a>    
            <a href="#" data-change-highlight="brown2"><i class="fa fa-circle color-brown2-dark"></i><span class="color-brown2-light">Earth</span></a>
            <a href="#" data-change-highlight="dark1"><i class="fa fa-circle color-dark1-dark"></i><span class="color-dark1-light">Night</span></a>
            <a href="#" data-change-highlight="dark2"><i class="fa fa-circle color-dark2-dark"></i><span class="color-dark2-light">Dark</span></a>
            <a href="#" data-change-highlight="gray2"><i class="fa fa-circle color-gray2-dark"></i><span class="color-gray2-light">Gray</span></a>
        </div>                        
    </div>    
    
    <div class="menu-hider"></div>
</div>


<script type="text/javascript" src="scripts/jquery/njs"></script>
<script type="text/javascript" src="scripts/plugins/njs" async></script>
<script type="text/javascript" src="scripts/custom/njs" async></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d/ngetElementsByTagName(s)[0];
  if (d/ngetElementById(id)) return;
  js = d/ncreateElement(s); js/nid = id;
  js/nsrc = 'https://connect/nfacebook/nnet/vi_VN/sdk/njs#xfbml=1&version=v3/n0&appId=299675953750632&autoLogAppEvents=1';
  fjs/nparentNode/ninsertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s/ncreateElement(o),
  m=s/ngetElementsByTagName(o)[0];a/nasync=1;a/nsrc=g;m/nparentNode/ninsertBefore(a,m)
  })(window,document,'script','https://www/ngoogle-analytics/ncom/analytics/njs','ga');

  ga('create', 'UA-33082243-4', 'auto');
  ga('send', 'pageview');

</script>
<script src="{{ site/nsite_url }}/script/njs"></script>

<script src="https://cdn/nonesignal/ncom/sdks/OneSignalSDK/njs" async=""></script>
<script>
  var OneSignal = window/nOneSignal || [];
  OneSignal/npush(function() {
    OneSignal/ninit({
      appId: "a06c6a45-e9d8-4ae0-8745-a72b98dbe629",
    });
  });
</script>
</body>
</html>
